html {
  scroll-behavior: smooth;
}

.media {
  .media-item:target {
    padding-block-start: 6em;
  }

  h2.media-heading {
    font-size: 1.375em;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid var(--mdc-theme-text-third-on-light);
    top: 2em;
    margin-block-start: 0;
    padding-block-start: 2em;
    position: sticky;
    background-color: #fff;
  }

  article {
    margin-block-end: 2em;
    display: flex;
    @media screen and (max-width: 479px) {
      flex-flow: column;
    }
  }

  h3 {
    margin-block: 0 0.25em;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.208;
    text-wrap: balance;
  }

  a:any-link {
    text-decoration: none;
    color: var(--mdc-theme-text-primary-on-light);
  }

  a:hover {
    text-decoration: underline;
    color: var(--mdc-theme-secondary-dark);
  }

  img {
    width: 250px;
  }

  p {
    font-size: 1em;
    line-height: 1.5;
    margin-block-start: 0.5em;
    text-wrap: pretty;
  }

  .media__date {
    font-size: 0.875em;
    line-height: 1.214;
    color: var(--mdc-theme-secondary);
    margin: 12px 0;
    padding: 0;
  }

  .media__description {
    font-size: 1.125em;
    line-height: 1.556;
  }

  .media__image {
    margin-inline-end: 1.5em;
  }
}
